.my-progress-bar {
  background-color: $clr-0;
  height: $size-1;
  position: fixed;
  z-index: 200;
}

@mixin my-button {
  background: $clr-0;
  color: $clr-1;
  border: none;
  border-radius: 5px;
  padding: $size-1 $size-2;
  transition: $transition;
  width: auto;
  &:hover,
  &:active {
    background: $white;
    color: $clr-2;
  }
}