//Definition of the eight point grid system sizes
$size-1: 1rem; // 8px
$size-2: 2rem; // 16px
$size-3: 3rem; // 24px
$size-4: 4rem; // 32px
$size-5: 5rem; // 40px
$size-6: 6rem; // 48px
$size-7: 7rem; // 56px
$size-8: 8rem; // 64px
$size-9: 9rem; // 72px
$size-10: 10rem; // 80px
$size-11: 11rem; // 88px
$size-12: 12rem; // 96px
$size-13: 13rem; // 104px
$size-14: 14rem; // 112px
$size-15: 15rem; // 120px

//Definition of colors
$clr-0: #1AC5FF; // Addition color
$clr-1: #1F1F1F; // 12% tint
$clr-2: #262626; // 15% tint
$clr-3: #2E2E2E; // 18% tint