//Definition of the eight point grid system sizes
$size-1: .5em; // 8px
$size-2: 1em; // 16px
$size-3: 2em; // 32px
$size-4: 3em; // 64px
$size-5: 4em; // 128px
$size-6: 5em; // 256px

//Definition of text sizes
$typo-1: .5rem; // 8px
$typo-2: 1rem; // 16px
$typo-3: 2rem; // 32px
$typo-4: 3rem; // 64px
$typo-5: 4rem; // 128px
$typo-6: 5rem; // 256px