//Definition of the eight point grid system sizes
$size-1: .5em; // 8px
$size-2: 1em; // 16px
$size-3: 2em; // 32px
$size-4: 3em; // 48px
$size-5: 4em; // 64px
$size-6: 5em; // 80px

//Definition of text sizes
$typo-1: .5rem; // 8px
$typo-2: 1rem; // 16px
$typo-3: 2rem; // 32px
$typo-4: 3rem; // 48px
$typo-5: 4rem; // 64px
$typo-6: 5rem; // 80px

//Definition of colors
$clr-0: #1AC5FF; // Addition color
$clr-1: #1F1F1F; // 12% tint
$clr-2: #262626; // 15% tint
$clr-3: #2E2E2E; // 18% tint