// Set font family.

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: $typo-3;
  line-height: $typo-4;
}

h2 {
  font-size: $typo-2;
}

h3 {
  font-size: $typo-1;
}

p {
  font-family: 'Gruppo', cursive;
  margin-bottom: 0;
  margin-top: 0;
  font-size: $typo-2;
  line-height: $typo-2;
}

input, textarea {
  font-family: 'Gruppo', cursive;
  font-size: $typo-2;
  line-height: $typo-2;
}