.main-page-bg {
  background: #232323;
}

.main-page {
  color: $white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__icon {
  cursor: pointer;
  margin: $size-3;
  z-index: 200;
}

.nav__icon--burger {
  background-image: url(../../assets/menu-s.svg);
  width: $size-4;
  height: $size-4;
  transition: $transition;
  &:hover {
    background-image: url(../../assets/menu-s-hover.svg);
  }
}

.nav__icon--close {
  display: none;
  background-image: url(../../assets/close-s.svg);
  width: $size-4;
  height: $size-4;
  transition: $transition;
  &:hover {
    background-image: url(../../assets/close-s-hover.svg);
  }
}

.nav__items {
  align-items: center;
  background: $black;
  display: none;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav__item {
  margin-bottom: $size-2;
  font-size: $size-4;
  &:last-child {
    margin-bottom: 0;
  }
  a:hover,
  a:active {
    color: $clr-0;
    cursor: pointer;
  }
}

.profile {
  padding: 0 $size-2;
}

.profile__title {
  color: $clr-0;
  font-size: $size-4;
  text-align: center;
  margin-bottom: $size-2;
}

.profile__text {
  font-size: $size-2;
  text-align: center;
  margin: 0 auto;
}

.more {
  margin: $size-3 auto;
  font-size: $size-2;
  &:hover,
  &:active {
    cursor: pointer;
    .more__icon {
      a {
        color: $clr-0;
      }
    }
  }
}

.more__icon {
  transition: $transition;
  font-size: $size-2;
}

@include for-iphone-x {
  .main-page {
    background-image: url(../../assets/portrait.png);
    background-position: bottom right -40px;
    background-repeat: no-repeat;
    background-size: auto 120%;
    justify-content: start;
  }
  .nav__icon {
    margin: $size-4;
  }
  .profile__title {
    width: 228px;
    margin: 0 auto $size-4 auto;
  }
  .profile__text {
    font-size: $size-2;
    text-align: left;
    width: 165px;
    margin: 0 0 0 $size-2;
  }
  .more {
    margin: auto auto $size-3 auto;
    font-size: $size-2;
  }
}

@mixin ipad-base {
  .main-page {
    background-image: url(../../assets/portrait.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 150%;
  }

  .nav__icon {
    margin: $size-5;
  }

  .nav__icon--burger {
    background-image: url(../../assets/menu-m.svg);
    width: $size-8;
    height: $size-8;
    &:hover {
      background-image: url(../../assets/menu-m-hover.svg);
    }
  }

  .nav__icon--close {
    background-image: url(../../assets/close-m.svg);
    width: $size-8;
    height: $size-8;
    &:hover {
      background-image: url(../../assets/close-m-hover.svg);
    }
  }

  .nav__item {
    margin-bottom: $size-8;
    font-size: $size-8;
  }

  .profile {
    width: auto;
    padding: 0;
    margin: 0 auto 0 $size-14;
  }

  .profile__text {
    width: 276px;
  }
}

@include for-ipad-s {
  @include ipad-base;
}

@include for-ipad-m {
  @include ipad-base;

  .profile__title {
    font-size: $size-5;
  }

  .profile__text {
    font-size: $size-3;
    line-height: $size-3;
    width: 415px;
  }

  .more {
    h2 {
      font-size: $size-3;
    }
  }

  .more__icon {
    font-size: $size-3;
  }
}

@include for-ipad-l {
  @include ipad-base;

  .profile__title {
    font-size: $size-7;
  }

  .profile__text {
    font-size: $size-4;
    line-height: $size-4;
    width: 590px;
  }

  .more {
    h2 {
      font-size: $size-4;
    }
  }

  .more__icon {
    font-size: $size-4;
  }
}