.projects-page-bg {
  background: $clr-1;
  color: $white;
}

.projects-page {
  background-color: $clr-1;
  display: flex;
  flex-direction: column;
  padding: $size-3 $size-3 $size-2 $size-3;
}

.projects-page__title {
  color: $clr-0;
  margin-bottom: $size-1;
} 

.projects-page__subtitle {
  margin-bottom: $size-3;
}

.my-card {
  color: $white;
}

.my-card__selection {
  display: flex;
  justify-content: space-between;
}

.my-card__first,
.my-card__second,
.my-card__third {
  background: $clr-2;
  color: $white;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  padding: $size-1;
  text-align: center;
  width: 31.5%;
  &:hover,
  &:active {
    color: $clr-0;
  }
  h2 {
    transition: $transition;
  }
}

.my-card--active {
  background: $clr-3;
  color: $white;
  cursor: default;
  &:hover,
  &:active {
    background: $clr-3;
    color: $white;
  }
}

.my-card__body {
  background: $clr-3;
  display: flow-root;
  padding: $size-3;
}

.my-card__title {
  color: $clr-0;
}

.my-card__subtitle {
  margin-bottom: $size-3;
  color: $clr-0;
}

.my-card__text {
  margin-bottom: $size-3;
}

.my-card__button,
.projects-page__button {
  background: $clr-0;
  color: $clr-1;;
  border: none;
  border-radius: 5px;
  float: right;
  padding: $size-1 $size-2;
  transition: $transition;
  width: auto;
  &:hover,
  &:active {
    background: $white;
    color: $clr-2;
  }
}

.projects-page__button {
  background: $clr-0;
  color: $clr-1;
  float: none;
  margin: $size-2 auto $size-1 auto;
  &:hover,
  &:active {
    background: $white;
    color: $clr-1;
  }
}

.my-card__img {
  background-position: center center;
  border-radius: 0 0 5px 5px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

// Devices smaller than iPhone SE
@include for-iphone-8 {
  .projects-page {
    padding: $size-3 $size-1 $size-1 $size-1;
  }
  .my-card__body {
    padding: $size-2;
  }
  .my-card__subtitle,
  .my-card__text {
    margin-bottom: $size-2;
  }
}
