.projects-page-bg {
  background: $clr-1;
  color: $white;
}

.projects-page {
  background-color: $clr-1;
  display: flex;
  flex-direction: column;
  padding: $size-3 $size-3 $size-2 $size-3;
  &__title {
    color: $clr-0;
    margin-bottom: $size-1;
  }
  &__subtitle {
    margin-bottom: $size-3;
  }
}

.my-card {
  color: $white;
  &__selection {
    display: flex;
    justify-content: space-between;
  }
  &__first,
  &__second,
  &__third {
    background: $clr-2;
    border-radius: 5px 5px 0 0;
    color: $white;
    cursor: pointer;
    padding: $size-1;
    text-align: center;
    width: 31.5%;
    &:hover,
    &:active {
      color: $clr-0;
    }
    h2 {
      transition: $transition;
    }
  }
  &--active {
    background: $clr-3;
    color: $white;
    cursor: default;
    &:hover,
    &:active {
      background: $clr-3;
      color: $white;
    }
  }
  &__body {
    background: $clr-3;
    display: flow-root;
    padding: $size-3;
  }
  &__title {
    color: $clr-0;
  }
  &__subtitle {
    color: $clr-0;
    margin-bottom: $size-3;
  }
  &__text {
    margin-bottom: $size-3;
  }
  &__button,
  .projects-page__button {
    @include my-button;
  }
  &__img {
    background-position: center center;
    border-radius: 0 0 5px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
  }
}

.projects-page__button {
  @include my-button;
  margin: $size-2 auto 0 auto;
}

//------------------------ Media queries ------------------------//

@include for-ipad {
  .projects-page {
    padding: $size-4  ;
    &__title {
      font-size: $size-4;
    }
    &__subtitle {
      font-size: $size-3;
    }
  }

  .my-card {
    display: flex;
    height: 60vh;
    margin: 0 auto;
    width: 90%;
    &__selection {
      display: flex;
      flex-direction: column;
    }
    &__first,
    &__second,
    &__third {
      background: $clr-2;
      border-radius: 5px 0 0 5px;
      color: $white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: $size-2;
      height: 28%;
      width: 50px;
      h2 {
        align-self: center;
        font-size: $size-3;
      }
      &:hover,
      &:active {
        color: $clr-0;
      }
      h2 {
        transition: $transition;
      }
    }
    &--active {
      background: $clr-3;
      color: $white;
      cursor: default;
      &:hover,
      &:active {
        background: $clr-3;
        color: $white;
      }
    }
    &__body {
      background: $clr-3;
      display: flex;
      flex-direction: column;
      padding: $size-6;
    }
    &__title {
      color: $clr-0;
      font-size: $size-4;
    }
    &__subtitle {
      color: $clr-0;
      margin-bottom: $size-3;
    }
    &__text {
      font-size: $size-3;
      line-height: $size-3;
      margin-bottom: $size-3;
    }
    &__button,
    .projects-page__button {
      @include my-button;
      margin: auto auto 0 auto;
      h2 {
        font-size: $size-3;
      }
    }
    &__img {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0 5px 5px 0;
      height: auto;
      width: 150%;
    }
  }
  .projects-page__button {
    h2 {
      font-size: $size-3;
    }
  }
}
