.skills-page-bg {
  background: $clr-2;
  color: $white;
}

.skills-page {
  padding: $size-3 $size-4;
}

.skills-page__title {
  color: $clr-0;
  margin-bottom: $size-1;
}

.skills-page__subtitle {
  margin-bottom: $size-3;
}

.skills-page__item {
  align-items: center;
  display: flex;
  margin-bottom: $size-2;
  &:last-child {
    margin-bottom: 0;
  }
}

.skills-page__icon--html {
  background: url(../../assets/html5.svg);
}

.skills-page__icon--css {
  background: url(../../assets/css3.svg);
}

.skills-page__icon--js {
  background: url(../../assets/javascript.svg);
}

.skills-page__icon--vue {
  background: url(../../assets/vue.svg);
}

.skills-page__icon--html,
.skills-page__icon--css,
.skills-page__icon--js,
.skills-page__icon--vue {
  background-repeat: no-repeat;
  background-size: $size-5;
  height: $size-5;
  margin: 4px auto;
  width: $size-5;
}
