.projects-page-bg {
  background: $clr-1;
  color: $white;
}

.projects-page {
  display: flex;
  flex-direction: column;
  padding: $size-3 $size-2;
  &__title {
    color: $clr-0;
    width: 80%;
    margin: 0 auto $size-1 auto;
  }
  &__subtitle {
    width: 80%;
    margin: 0 auto $size-3 auto;
  }
}

#my-projects-card-1,
#my-projects-card-2,
#my-projects-card-3 {
  display: none;
}

.my-projects-card {
  color: $white;
  &__selection {
    display: flex;
    justify-content: space-between;
  }
  &__first,
  &__second,
  &__third {
    background: $clr-2;
    border-radius: 5px 5px 0 0;
    color: $white;
    cursor: pointer;
    padding: $size-1;
    text-align: center;
    width: 31.5%;
    &:hover,
    &:active {
      color: $clr-0;
    }
    h2 {
      transition: $transition;
    }
  }
  &--active {
    background: $clr-3;
    color: $white;
    cursor: default;
    &:hover,
    &:active {
      background: $clr-3;
      color: $white;
    }
  }
  &__body {
    background: $clr-3;
    display: flow-root;
    padding: $size-3;
  }
  &__title {
    color: $clr-0;
  }
  &__subtitle {
    color: $clr-0;
    margin-bottom: $size-3;
  }
  &__text {
    margin-bottom: $size-3;
  }
  &__button {
    @include my-button;
    float: right;
  }
  &__img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 5px 5px;
    height: 200px;
    filter: contrast(90%);
  }
}

.projects-page__button {
  @include my-button;
  margin: $size-3 auto 0 auto;
}

//------------------------ Media queries ------------------------//
@include for-iphone {
  .projects-page {
    padding: $size-3;
  }
}

@include for-ipad {
  .projects-page {
    padding: $size-4 0;
    &__title {
      font-size: $size-4;
      line-height: $size-4;
      margin-bottom: $size-2;
    }
    &__subtitle {
      font-size: $size-3;
      line-height: $size-3;
      width: 40%;
      margin-bottom: $size-4;
    }
  }
  .my-projects-card {
    display: flex;
    height: 60vh;
    margin: 0 auto;
    width: 90%;
    &__selection {
      display: flex;
      flex-direction: column;
    }
    &__first,
    &__second,
    &__third {
      background: $clr-2;
      border-radius: 5px 0 0 5px;
      color: $white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: $size-2;
      height: 28%;
      width: 50px;
      h2 {
        align-self: center;
        font-size: $size-3;
        line-height: $size-4;
      }
      &:hover,
      &:active {
        color: $clr-0;
      }
      h2 {
        transition: $transition;
      }
    }
    &--active {
      background: $clr-3;
      color: $white;
      cursor: default;
      &:hover,
      &:active {
        background: $clr-3;
        color: $white;
      }
    }
    &__body {
      background: $clr-3;
      display: flex;
      flex-direction: column;
      padding: $size-6;
    }
    &__title {
      color: $clr-0;
      font-size: $size-4;
      line-height: $size-5;
    }
    &__subtitle {
      color: $clr-0;
      margin-bottom: $size-3;
    }
    &__text {
      font-size: $size-3;
      line-height: $size-3;
      margin-bottom: $size-3;
    }
    &__button,
    .projects-page__button {
      @include my-button;
      margin: auto auto 0 auto;
      h2 {
        font-size: $size-3;
        line-height: $size-4;
      }
    }
    &__img {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0 5px 5px 0;
      height: auto;
      width: 150%;
    }
  }
  .projects-page__button {
    margin: $size-4 auto 0 auto;
    h2 {
      font-size: $size-3;
      line-height: $size-4;
    }
  }
}

@mixin desktop {
  .projects-page {
    padding: $size-5 0;
    &__title {
      font-size: $size-6;
      line-height: $size-6;
      margin-bottom: $size-3;
    }
    &__subtitle {
      font-size: $size-4;
      line-height: $size-4;
      width: 40%;
      margin-bottom: $size-5;
    }
  }
  #my-projects-card-0 {
    display: none;
  }
  #my-projects-card-1,
  #my-projects-card-2,
  #my-projects-card-3 {
    display: block;
  }
  .my-projects-cards {
    display: flex;
  }
  .my-projects-card {
    width: 33%;
    margin-left: $size-3;
    &:nth-child(2) {
      margin-left: 0;
    }
    &__selection {
      display: none;
    }
    &__body {
      padding: $size-5;
    }
    &__title {
      font-size: $size-4;
      line-height: $size-5;
    }
    &__text {
      font-size: $size-3;
      line-height: $size-3;
      height: 150px;
    }
    &__button {
      h2 {
        font-size: $size-3;
        line-height: $size-4;
      }
    }
  }
  .projects-page__button {
    margin: $size-5 auto 0 auto;
    h2 {
      font-size: $size-3;
      line-height: $size-4;
    }
  }
}

@include for-desktop-hd {
  @include desktop;
}

@include for-desktop-full-hd {
  @include desktop;

  .projects-page {
    padding: $size-6 0;
    &__title {
      font-size: $size-7;
      line-height: $size-7;
      margin-bottom: $size-4;
    }
    &__subtitle {
      font-size: $size-5;
      line-height: $size-5;
      margin-bottom: $size-5;
      width: 60%;
      margin-bottom: $size-6;
    }
  }
  .my-projects-card + .my-projects-card {
    margin-left: $size-4;
  }
  .my-projects-card {
    &__body {
      padding: $size-5;
    }
    &__text {
      font-size: $size-3;
      height: 150px;
      line-height: $size-3;
    }
    &__img {
      // height: 300px;
    }
  }
}
