.skills-page-bg {
  background: $clr-3;
  color: $white;
}

.skills-page {
  padding: $size-3 $size-2;
  &__title {
    color: $clr-0;
    margin-bottom: $size-1;
  }
  &__subtitle {
    margin-bottom: $size-3;
  }
}

.my-skills-cards {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  .my-skills-card:nth-child(2n + 1) {
    justify-self: right;
  }
}

.my-skills-card {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 134px;
  justify-content: center;
  padding: 8px;
  position: relative;
  text-align: center;
  width: 134px;
  &--white {
    background: $clr-1;
  }
  &--blue {
    background: $clr-2;
  }
  &__flip-icon {
    height: 12px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 12px;
    &--white {
      background-image: url(../assets/flip-white.svg);
      background-size: cover;
      height: 12px;
      width: 12px;
    }
    &--blue {
      background-image: url(../assets/flip-blue.svg);
      background-size: cover;
      height: 12px;
      width: 12px;
    }
  }
  &__logo {
    background-position: center
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
  }
  &__title {
    display: none;
  }
  &__details {
    display: none;  
  }
}
