.skills-page-bg {
  background: $clr-3;
  color: $white;
}

.skills-page {
  padding: $size-3 $size-2;
  &__title {
    color: $clr-0;
    margin-bottom: $size-1;
  }
  &__subtitle {
    margin-bottom: $size-3;
  }
}

.my-skills-cards {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  perspective: 800;
  .my-skills-card:nth-child(2n + 1) {
    justify-self: right;
  }
}

.my-skills-card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
  cursor: pointer;
  height: 134px;
  text-align: center;
  width: 134px;
  &__front,
  &__back {
    backface-visibility: hidden; /* W3C */
    -webkit-backface-visibility: hidden; /* Safari & Chrome */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
    -o-backface-visibility: hidden; /* Opera */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 16px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  &__back {
    transform: rotatey(180deg);
    -ms-transform: rotatey(180deg); /* IE 9 */
    -moz-transform: rotatey(180deg); /* Firefox */
    -webkit-transform: rotatey(180deg); /* Safari and Chrome */
    -o-transform: rotatey(180deg); /* Opera */
  }
  &--white {
    background: $clr-1;
  }
  &--blue {
    background: $clr-2;
    color: $clr-0;
  }
  &__flip-icon {
    height: 12px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 12px;
    &--white {
      background-image: url(../assets/flip-white.svg);
      background-size: cover;
      height: 12px;
      width: 12px;
    }
    &--blue {
      background-image: url(../assets/flip-blue.svg);
      background-size: cover;
      height: 12px;
      width: 12px;
    }
  }
  &__logo {
    align-self: center;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
  }
}

.flipped {
  transform: rotatey(180deg);
  -ms-transform: rotatey(180deg); /* IE 9 */
  -moz-transform: rotatey(180deg); /* Firefox */
  -webkit-transform: rotatey(180deg); /* Safari and Chrome */
  -o-transform: rotatey(180deg); /* Opera */
}
