.skills-page-bg {
  background: $clr-3;
  color: $white;
}

.skills-page {
  padding: $size-3 $size-2;
  &__title {
    color: $clr-0;
    margin-bottom: $size-1;
  }
  &__subtitle {
    margin-bottom: $size-3;
  }
}

.my-skills-cards {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template-columns: 134px 134px;
  justify-content: center;
  perspective: 800;
}

.my-skills-card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
  cursor: pointer;
  height: 134px;
  text-align: center;
  width: 134px;
  &__front,
  &__back {
    backface-visibility: hidden; /* W3C */
    -webkit-backface-visibility: hidden; /* Safari & Chrome */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
    -o-backface-visibility: hidden; /* Opera */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 16px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  &__back {
    transform: rotatey(180deg);
    -ms-transform: rotatey(180deg); /* IE 9 */
    -moz-transform: rotatey(180deg); /* Firefox */
    -webkit-transform: rotatey(180deg); /* Safari and Chrome */
    -o-transform: rotatey(180deg); /* Opera */
  }
  &--white {
    background: $clr-1;
  }
  &--blue {
    background: $clr-2;
    color: $clr-0;
  }
  &__flip-icon {
    height: 16px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 16px;
    &--white {
      background-image: url(../assets/flip-white.svg);
      background-size: cover;
      height: 16px;
      width: 16px;
    }
    &--blue {
      background-image: url(../assets/flip-blue.svg);
      background-size: cover;
      height: 16px;
      width: 16px;
    }
  }
  &__logo {
    align-self: center;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
  }
  &__details {
    font-size: 12px;
  }
}

.flipped {
  transform: rotatey(180deg);
  -ms-transform: rotatey(180deg); /* IE 9 */
  -moz-transform: rotatey(180deg); /* Firefox */
  -webkit-transform: rotatey(180deg); /* Safari and Chrome */
  -o-transform: rotatey(180deg); /* Opera */
}

//------------------------ Media queries ------------------------//

@mixin ipad {
  .skills-page {
    padding: $size-4 0;
    &__title {
      font-size: $size-4;
    }
    &__subtitle {
      font-size: $size-3;
    }
  }
  .my-skills-cards {
    gap: 16px;
    grid-template-columns: 264px 264px 264px;
    perspective: 2000;
    .my-skills-card:nth-child(2n) {
      order: 1; 
    }
  }
  .my-skills-card {
    height: 264px;
    width: 264px;
    &__back {
      padding: 32px;
    }
    &__flip-icon {
      height: 24px;
      right: 16px;
      top: 16px;
      width: 24px;
      &--white {
        height: 24px;
        width: 24px;
      }
      &--blue {
        height: 24px;
        width: 24px;
      }
    }
    &__logo {
      height: 130px;
      width: 130px;
      background-size: contain;
    }
    &__details {
      font-size: $size-3;
      line-height: $size-3;
    }
  }
}

@include for-ipad {
  @include ipad;
}

@include for-desktop-hd {
  @include ipad;
  .skills-page {
    padding: $size-7 0;
    &__title {
      font-size: $size-6;
      margin-bottom: $size-3;
    }
    &__subtitle {
      font-size: $size-4;
    }
  }
  .my-skills-cards {
    gap: 24px;
    grid-template-columns: 364px 364px 364px;
    perspective: 2000;
  }
  .my-skills-card {
    height: 364px;
    width: 364px;
    &__flip-icon {
      right: 24px;
      top: 24px;
    }
    &__logo {
      height: 160px;
      width: 160px;
    }
    &__details {
      font-size: $size-4;
      line-height: $size-4;
    }
  }
}