.my-progress-bar {
  background-color: $clr-0;
  height: $size-1;
  position: fixed;
  z-index: 200;
}

@mixin my-button {
  background: $clr-0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: $size-1 $size-2;
  text-align: center;
  text-decoration: none;
  transition: $transition;
  width: auto;
  &:hover,
  &:active {
    background: $white;
    color: $clr-2;
  }
  h2{
    color: $clr-1;
  }
}