.main-page-bg {
  background: #313030;
}

.main-page {
  color: $white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  &__icon {
    cursor: pointer;
    margin: $size-3;
    z-index: 200;
    &--burger {
      background-image: url(../../build/build/assets/menu-s.svg);
      width: $size-4;
      height: $size-4;
      transition: $transition;
      &:hover {
        background-image: url(../../build/assets/menu-s-hover.svg);
      }
    }
    &--close {
      display: none;
      background-image: url(../../build/assets/close-s.svg);
      width: $size-4;
      height: $size-4;
      transition: $transition;
      &:hover {
        background-image: url(../../build/assets/close-s-hover.svg);
      }
    }
  }
  &__items {
    align-items: center;
    background: $black;
    display: none;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  &__item {
    margin-bottom: $size-2;
    font-size: $size-4;
    &:last-child {
      margin-bottom: 0;
    }
    a:hover,
    a:active {
      color: $clr-0;
      cursor: pointer;
    }
  }
}

.profile {
  padding: 0 $size-2;
  &__title {
    color: $clr-0;
    font-size: $size-4;
    text-align: center;
    margin-bottom: $size-2;
  }
  &__text {
    font-size: $size-2;
    text-align: center;
    margin: 0 auto;
    width: 276px;
  }
}

.more {
  margin: $size-3 auto;
  font-size: $size-2;
  &:hover,
  &:active {
    cursor: pointer;
    .more__icon {
      a {
        color: $clr-0;
      }
    }
  }
  &__icon {
    transition: $transition;
    font-size: $size-2;
    text-align: center;
  }
  &__text {
    margin-bottom: -10px;
  }
}

.social {
  position: absolute;
  right: 28px;
  bottom: $size-3;
  &--codepen {
    cursor: pointer;
    background-image: url(../../build/assets/codepen-s.svg);
    width: $size-3;
    height: $size-3;
    transition: $transition;
    &:hover {
      background-image: url(../../build/assets/codepen-s-hover.svg);
    }
  }
  &--github {
    margin-top: $size-2;
    cursor: pointer;
    background-image: url(../../build/assets/github-s.svg);
    width: $size-3;
    height: $size-3;
    transition: $transition;
    &:hover {
      background-image: url(../../build/assets/github-s-hover.svg);
    }
  }
  &--linkedin {
    margin-top: $size-2;
    cursor: pointer;
    background-image: url(../../build/assets/linkedin-s.svg);
    width: $size-3;
    height: $size-3;
    transition: $transition;
    &:hover {
      background-image: url(../../build/assets/linkedin-s-hover.svg);
    }
  }
}

//------------------------ Media queries ------------------------//

@include for-iphone {
  .main-page {
    background-image: url(../../build/assets/portrait.png);
    background-position: bottom right -40px;
    background-repeat: no-repeat;
    background-size: auto 120%;
    justify-content: start;
    filter: contrast(85%);
  }
  .nav__icon {
    margin: $size-4;
  }
  .profile {
    &__title {
      width: 228px;
      margin: 0 auto $size-4 auto;
    }
    &__text {
      font-size: $size-2;
      text-align: left;
      width: 175px;
      margin: 0 0 0 $size-2;
    }
  }
  .more {
    margin: auto auto $size-3 auto;
    font-size: $size-2;
  }
  .social {
    right: 42px;
  }
}

@mixin ipad {
  .main-page {
    background-image: url(../../build/assets/portrait.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 150%;
    filter: contrast(85%);
  }
  .nav__icon {
    margin: $size-5;
  }
  .nav__item {
    margin-bottom: $size-8;
    font-size: $size-8;
  }
  .profile {
    width: auto;
    padding: 0;
    margin: 0 auto 0 15%;
    &__text {
      font-size: $size-3;
      line-height: $size-3;
      width: 335px;
    }
  }
  .social {
    right: 42px;
  }
}

@include for-ipad {
  @include ipad;
}

@mixin desktop {
  @include ipad;
  .profile {
    margin: 0 auto 0 10%;
    &__title {
      font-size: $size-6;
      margin-bottom: $size-4;
    }
    &__text {
      font-size: $size-4;
      line-height: $size-4;
      width: 445px;
    }
  }
  .nav__icon {
    &--burger {
      background-image: url(../../build/assets/menu-m.svg);
      width: $size-8;
      height: $size-8;
      &:hover {
        background-image: url(../../build/assets/menu-m-hover.svg);
      }
    }
    &--close {
      background-image: url(../../build/assets/close-m.svg);
      width: $size-8;
      height: $size-8;
      &:hover {
        background-image: url(../../build/assets/close-m-hover.svg);
      }
    }
  }
  .more {
    h2 {
      font-size: $size-3;
    }
    &__icon {
      font-size: $size-3;
    }
  }
  .social {
    right: 56px;
    bottom: $size-4;
    &--codepen {
      background-image: url(../../build/assets/codepen-m.svg);
      width: $size-6;
      height: $size-6;
      &:hover {
        background-image: url(../../build/assets/codepen-m-hover.svg);
      }
    }
    &--github {
      margin-top: $size-3;
      background-image: url(../../build/assets/github-m.svg);
      width: $size-6;
      height: $size-6;
      &:hover {
        background-image: url(../../build/assets/github-m-hover.svg);
      }
    }
    &--linkedin {
      margin-top: $size-3;
      background-image: url(../../build/assets/linkedin-m.svg);
      width: $size-6;
      height: $size-6;
      &:hover {
        background-image: url(../../build/assets/linkedin-m-hover.svg);
      }
    }
  }
}

@include for-desktop-hd {
  @include desktop;
}

@include for-desktop-full-hd {
  @include desktop;
  .profile {
    margin: 0 auto 0 15%;
    &__title {
      font-size: $size-8;
      margin-bottom: $size-4;
    }
    &__text {
      font-size: $size-5;
      line-height: $size-5;
      width: 560px;
    }
  }
  .more {
    h2 {
      font-size: $size-5;
    }
    &__icon {
      font-size: $size-5;
    }
  }
}
